@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    --primary-color: #f5f5dc;
    --secondary-color: #f5f5dc;
    --tertiary-color: #030321;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}
/* HEADER SECTION */
header {
    z-index: 9999;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0.7;
    /* border: 1px solid red; */
}

header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* END OF HEADER SECTION */

/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}
/* END OF FOOTER SECTION */


section {
    padding: 60px;
}

body {
    background: linear-gradient(-45deg, #030321, #c9064e, #030321, rgb(133, 35, 213));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    /* border: 1px solid red; */
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.my-picture img {
    width: 150px;
    border-radius: 50%;
    opacity: 1;
}

.about-me {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.about-me p {
    text-align: center;
    line-height: 1, 7;
    color: var(--primary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    white-space: pre-line;
}

.my-work {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-work h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.my-work img {
    width: 350px;
    margin: 0;
    opacity: 0.5;
    resize: none;
    height: 190px;
}

.my-work img:hover {
    opacity: 1;
    transform: scale(1.5);
}

.my-work-thumbnails {
    display: flex;
}

.my-work-thumbnails a {
    text-align: center;
    line-height: 1, 7;
    color: var(--primary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 50px;
    text-decoration: none;
}

.my-work-thumbnails a p {
    margin: 0;
}

.contact-me {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-address {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-me div h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.contact-me p,
.contact-me address a {
    text-align: center;
    line-height: 1, 7;
    color: var(--primary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.contact-me a {
    display: block;
}

.contact-address address {
    display: flex;
    flex-direction: row;
}

.contact-address address a {
    margin: 0 50px;
    width: 100%;
    white-space: nowrap;
    text-decoration: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 980px) {
    header {
        position: relative;
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .my-work-thumbnails img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column;
    }
    .my-work-thumbnails {
        flex-direction: column;
        align-items: center;
    }
    .my-work-thumbnails a {
        width: 100%;
        margin: 0;
    }
    .contact-address address {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 575px) {
    
}