@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    --primary-color: #f5f5dc;
    --secondary-color: #f5f5dc;
    --tertiary-color: #030321;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    z-index: 9999;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0.7;
}

header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

section {
    padding: 60px;
}

body {
    background: linear-gradient(-45deg, #030321, #c9064e, #030321, rgb(133, 35, 213));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.hero{
    display: flex;
    align-items:center;
    justify-content: center;
    border: 1px solid red;
}

.my-picture img{
    width: 150px;
    border-radius: 50%;
    opacity: 1;
}

.about-me{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me h1{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.about-me p{
    text-align: center;
    line-height: 1,7;
    color: var(--primary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.my-work {
    border: 1px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.my-work h1{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin-bottom: 50px;
}

.my-work-thumbnail{
}

.my-work img{
    width: 350px;
    justify-content: space-evenly;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}